@using System.Globalization
@using PagedList.Mvc
@model PagedList.IPagedList<SolveMath.Models.ViewModels.TopicHeaderViewModel>
@foreach (var model in Model)
{
    int id = model.Id;
    string title = model.Title;
    string username = model.AuthorUsername;
    string date = model.PublishDate.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);
    string categoryName = model.CategoryName;
    int score = model.Score;
    int numberOfReplies = model.NumberOfAnswers;
    <article>
        <div>
            <a href="/forum/forum/topic/@id">
                <h2>@title</h2>
            </a>
            <p>
                <span>@username</span>
                <span>@date</span>
                <span>@categoryName</span>
            </p>
        </div>
        <div>
            <div>

                @using (Ajax.BeginForm("UpvoteTopic", new AjaxOptions()
                {
                    HttpMethod = "POST"
                }))
                {
                    <input type="hidden" name="id" value="@id" />
                    <button type="submit" onclick="reload()">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </button>
                }
                @using (Ajax.BeginForm("DownvoteTopic", new AjaxOptions()
                {
                    HttpMethod = "POST"
                }))
                {
                    <input type="hidden" name="id" value="@id" />
                    <button type="submit" onclick="reload()">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                }
            </div>
            <div>
                <span>@score</span>
                <span>@numberOfReplies</span>
            </div>
        </div>
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || (User.Identity.Name == username))
        {
            @Html.ActionLink("Редактирай", "EditTopic", "Manage", new { area = "", id = id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Изтрий", "DeleteTopic", "Manage", new { area = "", id = id }, new { @class = "btn btn-danger" })
        }
    </article>
}
@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new
{
    pageNumber
}))